/* .roll {
	transition: all 300ms linear;
}
.roll-appear {
	opacity: 0;
	z-index: 1;
}
.roll-appear.roll-appear-active {
	opacity: 1;
	transition: all 300ms linear;
	transform: scale(0.1);
}
.roll-enter {
	opacity: 0;
	z-index: 1;
	transform: scale(1);
	transition: all 300ms linear;
}

.roll-enter.roll-enter-active {
	opacity: 1;
	transition: all 300ms linear;
	transform: scale(0.7);
}
.roll-exit {
	opacity: 0;
	z-index: 1;
	top: 45px;
	width: 200px;
	max-height: 200px;
	background-color: #9e8949;
}
.roll-exit.roll-exit-active {
	opacity: 0.5;
	transition: all 400ms;
} */
/* 
.roll-appear {
	opacity: 0;
}
.roll-appear-active {
	opacity: 0.7;
	transition: opacity 0.3s ease scale 0.3s ease;
}
.roll-appear-done {
	opacity: 1;
}
.roll-enter {
	opacity: 0.7;
	transform: scale(0.9);
	transition: opacity 0.3s ease scale 0.3s ease;
}
.roll-enter-active {
	opacity: 0.7;
	transform: scale(0.9);
	transition: opacity 0.3s ease scale 0.3s ease;
}
.roll-enter-done {
	opacity: 1;
}
.roll-exit {
	opacity: 0.7;
	transform: scale(0.9);
	transition: opacity 0.3s ease scale 0.3s ease;
}
.roll-exit-active {
	opacity: 0.7;
	transition: opacity 0.3s ease scale 0.3s ease;
	transform: scale(0.7);
}
.roll-exit-done {
	transition: all 0.3s ease;
	transform: scale(0.5);
	opacity: 0;
} */

/* ////////// */

/* This fires as soon as the element enters the dorm */

.roll-enter {
	/*We give the roll the initial dimension of the roll button*/

	width: 120px;
	height: 120px;
	max-height: 40px;
	color: transparent;
	background-color: green;
}
/* This is where we can add the transition*/
.roll-enter-active {
	height: 120px;
	width: 200px;
	max-height: 200px;
	background-color: red;
	transition: all 400ms;
}

.roll-enter-done {
	height: 120px;
	width: 200px;
	max-height: 200px;
	background-color: purple;
	transition: all 400ms;
}
/* This fires as soon as the this.state.showroll is false */
.roll-exit {
	height: 120px;
	width: 200px;
	max-height: 200px;
	background-color: white;
}
/* fires as element leaves the DOM*/
.roll-exit-active {
	height: 120px;
	width: 120px;
	max-height: 40px;
	color: transparent;
	background-color: blue;
	transition: all 400ms;
}
.roll-exit-done {
	height: 120px;
	width: 200px;
	max-height: 200px;
	background-color: purple;
	transition: all 400ms;
}

/* //////////////////// */

.card-enter {
	/*We give the card the initial dimension of the card button*/

	opacity: 0;
}
/* This is where we can add the transition*/
.card-enter-active {
	opacity: 0.5;

	transition: all 400ms;
}

.card-enter-done {
	opacity: 1;
	transition: all 400ms;
}
/* This fires as soon as the this.state.showcard is false */
.card-exit {
	opacity: 0.5;
	background-color: white;
}
/* fires as element leaves the DOM*/
.card-exit-active {
	opacity: 0.7;
	transition: all 400ms;
}
.card-exit-done {
	opacity: 0;
	transition: all 400ms;
}
